---
import { BodyLong, GuidePanel, Heading } from "@navikt/ds-react";
import AppSwitcherSkeleton from "src/components/skeleton/AppSwitcherSkeleton";
import AppSwitcher from "../components/appswitcher/AppSwitcher";
import Layout from "../layouts/Layout.astro";
import styles from "./_index.module.css";

const userInfo = Astro.locals.userInfo;

const currentHour = new Date().getHours();
const greeting =
  currentHour < 10
    ? "God morgen"
    : currentHour < 12
      ? "God formiddag"
      : currentHour < 18
        ? "God ettermiddag"
        : "God kveld";
---

<Layout title="Hjem">
  <div class={styles.home}>
    <div class={styles.homeContent}>
      <div class={styles.homeGuidepanel}>
        <div class={styles.homeHeading}>
          <Heading level="1" size="large" spacing>
            {greeting}, {userInfo.name}
          </Heading>
        </div>
        <GuidePanel poster>
          <Heading level="2" size="small" spacing>
            Informasjon om utbetalingsportalen
          </Heading>
          <BodyLong spacing>
            Utbetalingsportalen er en ny platform som på sikt skal overta
            funksjoner fra Økonomiportalen og Abetal i en ny og forbedret
            versjon.
          </BodyLong>
        </GuidePanel>
      </div>
      <div>
        <AppSwitcher
          server:defer
          adGroups={userInfo.adGroups}
          client:only="react"
        >
          <AppSwitcherSkeleton slot="fallback" />
        </AppSwitcher>
      </div>
    </div>
  </div>
</Layout>
