---
import Environmentbanner from "@components/environmentbanner/environmentbanner.astro";
import Header from "@components/header/header.astro";
import Observability from "@components/observability/Observability";
import SideBar from "@components/sidebar/sidebar.astro";
import styles from "./Layout.module.css";

export type LayoutProps = {
  title: string;
};

const { title } = Astro.props as LayoutProps;

const pageTitle = title
  ? `${title} | Utbetalingsportalen`
  : "Utbetalingsportalen";

const sporingskode = process.env.UMAMI_SPORINGSKODE;

const enableObservability =
  process.env.NAIS_CLUSTER_NAME === "dev-gcp" ||
  process.env.NAIS_CLUSTER_NAME === "prod-gcp";
---

<!doctype html>
<html lang="nb">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Utbetalingsportalen" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link
      rel="preload"
      href="https://cdn.nav.no/aksel/@navikt/ds-css/7.32.1/index.min.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="https://cdn.nav.no/aksel/@navikt/ds-css/7.32.1/index.min.css"
    />
    <script is:inline type="importmap">
      {
        "imports": {
          "react": "https://cdn.nav.no/okonomi/sokos-shared-dependencies/packages/react/19.2.0/react.mjs",
          "react-dom": "https://cdn.nav.no/okonomi/sokos-shared-dependencies/packages/react-dom/19.2.0/react-dom.mjs",
          "jsx-runtime": "https://cdn.nav.no/okonomi/sokos-shared-dependencies/packages/react/19.2.0/jsx-runtime.mjs"
        }
      }
    </script>
    <script
      is:inline
      defer
      data-astro-rerun
      src="https://cdn.nav.no/team-researchops/sporing/sporing.js"
      data-host-url="https://umami.nav.no"
      data-website-id={sporingskode}></script>
  </head>
  <body>
    <Header />
    <Environmentbanner />
    <SideBar />
    <main class={styles.container}>
      <slot />
    </main>
    {enableObservability && <Observability client:only="react" />}
  </body>
</html>
